body {
  font-family: sans-serif;
  background: #a353a3; 
  color: #fff;        

body.dark {
  background: #b577e2; 
  color: #eee;
}

li.concluida {
  text-decoration: line-through;
  color: #d8bfd8; 
}
}